<% include layout.ejs -%>

<table id='bearing-table'>


</table>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/angles.js"></script>
<script src="/javascripts/worldmodel.js"></script>
<script src="/javascripts/bearing-table.js"></script>