<% include layout.ejs -%>
<link rel='stylesheet' href='/stylesheets/bearing-table.css' />
<table id='bearing-table'>
<thead><tr><th>CALL<th>BRG<th>DST<th>HDG</thead>

<tbody></tbody>
</table>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/angles.js"></script>
<script src="/javascripts/prettyprint.js"></script>
<script src="/javascripts/worldmodel.js"></script>
<script src="/javascripts/redalert.js"></script>
<script src="/javascripts/connectionlost.js"></script>
<script src="/javascripts/bearing-table.js"></script>