
<% include layout.ejs -%>

<!-- <div style='overflow-y: auto; height:99vh'> -->

<style>body{overflow:auto}</style>

<h1>Welcome to Artemis Glitter</h1>

<p id='ownaddress' class='margin:3em;'></p>

<div style='display:inline-block; min-width:200px;'>
<h2>Server and ship selection</h2>

<p>Artemis server: 
	<input id='serveraddr' style=''>
	<button id='connect' style=''>Connect</button>
	<button id='disconnect' style='display:none'>Disconnect</button>
	<span id='connecting' style='display:none'>Connecting...</span>
</p>

<!-- <p>Server status: <span id='status'></span></p> -->

<div id='vessel-select' style='display:none'>
Vessel: <select id='playershipname'></select>
</div>


</div>

<div style='display:inline-block; min-width:200px;'>
<h2>Console selection</h2>
<ul>
<!-- <li><a href='map'>Debug map</a> -->
<li><span class='w4 r'>BRG</span><span><a href='bearing-table'>Bearing-distance table</a></span>
<li><span class='w4 r'>PROX</span><span><a href='proximity'>Proximity monitor</a></span>
<li><span class='w4 r'>TUBE</span><span><a href='tubes'>Torpedo tubes matrix</a></span>
</div>


<!-- </div> -->

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/worldmodel.js"></script>
<script src="/javascripts/serverstatus.js"></script>