<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="http://ol3js.org/en/master/css/ol.css" type="text/css">
    <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/xolonium" rel="stylesheet" type="text/css"/>
  </head>
  <body>

  