<% include layout.ejs -%>
<link rel="stylesheet" href="http://ol3js.org/en/master/css/ol.css" type="text/css">
    
<div id="map" class="map" style="position:absolute; top:0; bottom:0; left:0; right:300px;">
<div id="popup" class="popup"></div>
</div>

<div id="info" class="info" style="position:absolute; top:0; bottom:0; right:0px; width:300px; border-left: 1px solid #80FF80; overflow-y: auto">

	<div style='border-bottom: 1px solid #80FF80; text-align: center'>
		<p>Artemis-Glitter debug map</p>
	</div>
	
	<div style='border-bottom: 1px solid #80FF80; text-align: center'>
		<div>Cursor coordinates:</div>
		<div id='mouse-position'></div>
	</div>	
	
	<div style='overflow-y: auto; overflow-x: hidden; font-size:80%' id='vesselData'>
	</div>

</div>



<script src="http://ol3js.org/en/master/build/ol.js"></script>
<!-- <script src="/javascripts/ol.js"></script> -->


<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/worldmodel.js"></script>
<script src="/javascripts/connectionlost.js"></script>
<script src="/javascripts/map.js"></script>