<% include layout.ejs -%>
<link rel='stylesheet' href='/stylesheets/proximity.css' />


<div id='status'></div>

<ul>
<li><span class='w3'>SHL 
	</span><span id='proximity-shl' class='w4 r'>DWN
	</span><span id='proximity-shl-toggle' class='toggler on'></span>
<li><span class='w3'>NEB 
	</span><span id='proximity-neb' class='w4 r'>
	</span><span id='proximity-neb-toggle' class='toggler on'></span>
<li><span class='w3'>HZD 
	</span><span id='proximity-hzd' class='w4 r'>
	</span><span id='proximity-hzd-toggle' class='toggler on'></span>
</ul>
<ul>
<li><span class='w3'>HOS 
	</span><span id='proximity-hos' class='w4 r'>
	</span><span id='proximity-hos-toggle' class='toggler on'></span>
<li><span class='w3'>MNE 
	</span><span id='proximity-mine' class='w4 r'>
	</span><span id='proximity-mine-toggle' class='toggler on'></span>
<li><span class='w3'>DRN 
	</span><span id='proximity-drone' class='w4 r'>
	</span><span id='proximity-drone-toggle' class='toggler on'></span>
</ul>


</table>
<audio src='/voice/entering-nebula.ogg'   preload="auto" id='audio-nebula'></audio>
<!-- <audio src='/voice/exiting-nebula.ogg' controls> -->
<audio src='/voice/navigational-hazard.ogg' preload="auto" id='audio-hazard'></audio>
<audio src='/voice/nearby-hostiles.ogg'   preload="auto" id='audio-enemy'></audio>

<audio src='/voice/incoming-ordnance.ogg' preload="auto" id='audio-drone' loop></audio>
<audio src='/voice/proximity-alert.ogg'   preload="auto" id='audio-mine' loop></audio>
<audio src='/voice/shields-up.ogg'   preload="auto" id='audio-shields'></audio>
<audio src='/voice/red-alert.ogg'   preload="auto" id='audio-redalert'></audio>



<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/angles.js"></script>
<script src="/javascripts/prettyprint.js"></script>
<script src="/javascripts/worldmodel.js"></script>
<script src="/javascripts/connectionlost.js"></script>
<script src="/javascripts/redalert.js"></script>
<script src="/javascripts/proximity.js"></script>
