
table {
	width: 99vw;
	max-height:100vw;
	margin: 0.5vw;
	table-layout:fixed;
}


table td, table th {
	width: 20%;
	max-width: 20%;
	font-size: 5.75vw;
}

table td {
	text-align: right;
}

table th {
	text-align: center;
}

