

div#status {
	margin-top: 25px;
	margin-bottom: 25px;

	font-size: 50px;
	line-height: 50px;
	min-height:100px;
	text-align:center;
	
	font-size: 10vmin;
	margin-top:5vmin;
	margin-bottom:5vmin;
	line-height:10vmin;
	min-height:20vmin;
	
	
/* 	width:15em; */
}

body {
/* 	text-align:center; */
}

ul {
	font-size:35px;
	font-size:5vmin;
}


@media all and (orientation: portrait) {
	ul {
		display:block;
		margin-top:0;
		margin-bottom:0;
		text-align:center;
	}
}


@media all and (orientation: landscape) {
	ul {
		display:inline-block;
		width:45%;
		margin:none;
		padding:5px;
		text-align:center;
	}
}
