
table {
	width:100%;
	width: 99vw;
	max-height:60%;
	max-height:60vw;
	margin: 0.5vw;
	table-layout:fixed;
}


table td, table th {
	width: 25%;
	font-size: 5.75vw;
}

table td {
	text-align: right;
	color: #c0c0c0;
}

table th {
	text-align: right;
	color: white;
}

div#status {
	
	margin-top: 25px;
	margin-top: 5vh;
	margin-bottom: 25px;
	margin-bottom: 5vh;
	
	font-size: 50px;
	font-size: 10vw;
	line-height: 50px;
	line-height: 10vw;
	min-height:100px;
	min-height:20vw;
	text-align:center;
}




