
@font-face {
	font-family: 'Xolonium';
        src: url('/fonts/Xolonium-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Xolonium';
        src: url('/fonts/Xolonium-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

body {
  font: 15px "Xolonium", "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #003;	/* Artemis' science dark blue */
  color: #ccc;
  overflow: hidden;
  margin:0; padding:0;
/*   width:15em; */
}

* {
	border-width: 5px;
	border-width: 1vmin;
}

a {
	color: #9cc;
}

h1, h2 {
	text-align: center;
}

table td {
	color: #ccc;
}

table th {
	color: #fff;
	background: #369;
}

table td, table th {
	margin: 0 1ex;
	overflow: hidden;
	text-overflow: "-";
}

table {
	border-spacing:0;
	border-collapse: collapse;	
}

body.red-alert table thead th {
	background:#933;
}

/* The connection status overlay. */
#connected {
	display:none;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: rgba(0,0,50,0.9);
	padding:5%;
	
	z-index:100000;
}

#connected #gameOverTitle {
	text-align: center;
}

#connected #gameOverReason {
	text-align: center;
/* 	font-size: 3vh; */
}

table#gameOverStats td ,
table#gameOverStats th {
/* 	font-size: 3vh; */
	width: inherit;
	padding: 0 1em;
	text-align: right;
}
table#gameOverStats {
	width:auto;
}

/* "Alert" text blinks in two shades of red */
.alert {
	color: #c66;
	
	animation-name: alert-blinker;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	
	-webkit-animation-name: alert-blinker;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	
	-moz-animation-name: alert-blinker;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

@-moz-keyframes alert-blinker {  
	  0% { color: #c66; }
	 50% { color: #f00; }
	100% { color: #c66; }
}

@-webkit-keyframes alert-blinker {  
	  0% { color: #c66; }
	 50% { color: #f00; }
	100% { color: #c66; }
}

@keyframes alert-blinker {  
	  0% { color: #c66; }
	 50% { color: #f00; }
	100% { color: #c66; }
}




/* Common colors for text elements */
.red {
	color: #c33;
}

.green {
	color: #3c3;
}

.blue {
	color: #33c;
}

.purple {
	color: #c3c;
}

.cyan {
	color: #3cc;
}

.yellow {
	color: #cc3;
}




/* Border and background for all <div>s */

div,ul,li {
	margin: 5px;
	margin: 1vmin;
}

div {
	background: #001933;
	
	border: solid #036;
	
	padding:5px;
	padding:1vmin;
}

body.red-alert div {
	border: 3px solid #600;
}

/* We're using HTML's <ul>s for lists of gauges, meters and so on. */
ul {
	background:transparent;
/* 	border:none; */
	list-style-type: none;
	padding:0;
}

li {
	display:block;
}

li > span {
	display:inline-block;
	
	border-left-width:0;
	border-right-width:0;
	border-top: #036 solid;
	border-bottom: #036 solid;
	padding-left:5px;
	padding-right:5px;
	padding-left:1vmin;
	padding-right:1vmin;

	background: #001933;
}

li > :first-child {
	background: #369;
	border: #369 solid;
	border-right:none;
	text-align:right;
}

li > :last-child {
	border-right:#036 solid;
}

body.red-alert li > :first-child {
	background: #369;
	border: #369 solid;
}
body.red-alert li > span {
	border-top: #600 solid;
	border-bottom: #600 solid;
}
body.red-alert li > :last-child {
	border-right: #600 solid;
}

span.w3  {
	width:3em;
}

span.w4 {
	width:4em;
}

/* w4 is shorthand for "*W*idth 3 characters" */
ul.w4 li span {
	width:4em;
}

.r {
	text-align:right;
}

.on:before {
	content:'ON';
	display:inline-block;
	border:3px solid #3c3;
	border:.5vmin solid #3c3;
	background: #363;
	font-size:75%;
	width:3em;
	text-align:center;
	vertical-align:text-bottom;
}

.off:before {
	content:'OFF';
	display:inline-block;
	border:3px solid #c33;
	border:.5vmin solid #c33;
	background: #633;
	font-size:75%;
	width:3em;
	text-align:center;
	vertical-align:text-bottom;
}



