

table#tubes
{
	font-size:200%;
	font-size: 4vw;
	
	
}

table#tubes th, table#tubes td {
/* 	padding: 0 1ex; */
}

table#tubes td {
	text-align: center;
}

table#tubes td div.load,
table#tubes td div.fire,
table#tubes td div.loading,
table#tubes td div.unloading,
table#tubes td div.wait, 
table#tubes td div.switch,
table#tubes td div.empty
{
	font-size:75%;
	width:5em;
	cursor:pointer;
}

table#tubes td div.load
{
	border:3px solid #33c;
	border:.5vmin solid #33c;
	background: #336;
}

table#tubes td div.fire
{
	border:3px solid #3c3;
	border:.5vmin solid #3c3;
	background: #363;
}

table#tubes td div.loading
{
	border:3px solid #ccc;
	border:.5vmin solid #ccc;
	background: #666;
}

table#tubes td div.unloading
{
	border:3px solid #ccc;
	border:.5vmin solid #ccc;
	background: #666;
}

table#tubes td div.wait
{
	border:3px solid #ccc;
	border:.5vmin solid #ccc;
	background: #663;
}

table#tubes td div.switch
{
	border:3px solid #cc3;
	border:.5vmin solid #cc3;
	background: #663;
}

table#tubes td div.empty
{
	border:3px solid #333;
	border:.5vmin solid #333;
	background: #000;
/* 	font-size:60%; */
}




